<html>
  <head>
    <title>AQ Bot Stats</title>
  <head>
  <body>
    <canvas id="myChart" width="400" height="200"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script>    
      const since = Math.trunc((Date.now() - (2 * 24 * 60 * 60)));
      const req = fetch('/graphql', {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          query: `{
            history(since: ${since}) {
              quality
              particulate2_5
              particulate10
              createdAt: created_at
            }
          }`
        })        
      });

      const ctx = document.getElementById("myChart").getContext('2d');
      req.then((data) => data.json()).then(({ data: { history }}) => {
        const pm25Data = history.map((row) => ({ x: row.createdAt, y: row.particulate2_5 }));
        const pm10Data = history.map((row) => ({ x: row.createdAt, y: row.particulate10 }));
        const myChart = new Chart(ctx, {
          type: 'line',
          data: { datasets: [{
            label: 'PM2.5',
            data: pm25Data,
            borderColor: 'rgba(0, 83, 177, 0.8)',
            fill: false
          }, {
            label: 'PM10',
            data: pm10Data,
            borderColor: 'rgba(0, 177, 124, 0.8)',
            fill: false
          }]},
          options: {
            scales: {
              xAxes: [{
                type: 'time'                
              }],
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      });      
    </script>
  </body>
</html>


